
    #contact form {
        height: 380px;
      width: 1350px;
      margin:0 auto;
      background:#fff;
      padding:0;
      border-radius:10px;
      font-size:1em;
      border:8px solid #9ca5aa;
      box-shadow:1px 1px 15px 3px #222;
    }
    #contact ul {
      margin:0;
      padding:40px;
      background:#808a8f;
      border:1px solid #333;
      border-radius:5px;
      box-shadow:0px 0px 0px 6px #666;
    }
    #contact li {
      overflow:auto;
      margin:0;
      padding:0;
      list-style:none;
    }
    input, label {float:left;}
    label {
      width:120px;
      padding:10px;
      margin:10px;
      color:#fff;
      text-shadow:1px 1px 1px #333;
      text-transform:uppercase;
      text-align:right;
      font-weight:bold;
      line-height:1.8em;
    }
    input, textarea {
      width:300px;
      padding:10px;
      margin:10px;
      border-top:1px solid #aaa;
      border-bottom:1px solid #eee;
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
      border:5px solid #fff;
      border-radius:5px;
      box-shadow: inset 1px 1px 2px 1px #999;
      background:#efefef;
      outline:none;
      font-size:1em;
      font-family:helvetica;
      color:#333;
    }
   
    input:focus ,textarea:focus{
         border-color:#222222;
    }
    .inquiry {
        width: 598px;
      height: 200px;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#ccc;font-style:italic;}
    input:-moz-placeholder, textarea:-moz-placeholder{color:#ccc;font-style:italic}
    button {
        border:5px solid #555;
      float:right;
      padding:10px;
      margin:10px;
      border-radius:5px;
      background:#518098;
      font-family:helvetica;
      font-size:1em;
      text-transform:uppercase;
      font-weight:bold;
      color:#fff;
      cursor:pointer;
    }
    