<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='asset/css/package.css')}}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <title>Packages</title>
    </head>

    <body>

        <header>

            <div class="logo">
                <h3>Local<b>Book</b></h3>
            </div>
            <nav class="links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('packages') }}">Packages</a>
                <a href="{{ url_for('inquiry') }}">Inquiry</a>
                <a href="{{ url_for('login') }}" id="login">Sign-Up/Login</a>
            </nav>

        </header>
        <div class="main">
            <div class="options">
                <div class="option active"
                    style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <div class="sub">LocalBook Package 01<br> Package Info</div>

                        </div>
                    </div>
                </div>
                <div class="option"
                    style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon">
                            <i class="fas fa-snowflake"></i>
                        </div>
                        <div class="info">
                            <div class="sub">LocalBook Package 02<br> Package Info</div>
                        </div>
                    </div>
                </div>
                <div class="option"
                    style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon">
                            <i class="fas fa-tree"></i>
                        </div>
                        <div class="info">
                            <div class="sub">LocalBook Package 03<br> Package Info</div>
                        </div>
                    </div>
                </div>
                <div class="option"
                    style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon">
                            <i class="fas fa-tint"></i>
                        </div>
                        <div class="info">
                            <div class="sub">LocalBook Package 04<br> Package Info</div>
                        </div>
                    </div>
                </div>
                <div class="option"
                    style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon">
                            <i class="fas fa-sun"></i>
                        </div>
                        <div class="info">
                            <div class="sub">LocalBook Package 05<br> Package Info</div>
                        </div>
                    </div>
                </div>
                
            </div>
            <script>

                $(".option").click(function () {
                    $(".option").removeClass("active");
                    $(this).addClass("active");

                });

            </script>
        </div>

    </body>

</html>